{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>download phenom</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style> 
        @font-face {
           font-family: myFirstFont;
           src: url("{% static 'phenom_app/fonts/IRANSansWeb.woff' %}");
        }
        
        * {
           font-family: myFirstFont;
        }
    </style>
    </head>
      
      <body class="bg-secondary">
        <div class="container card mt-5 ">
            <div class="row align-self-center">
                <div class="border-dark text-center">
                    <div class="text-center mt-5">
                        <h1>
                            برای دانلود نسخه 1 نرم افزار بر روی دکمه زیر کلیک کنید
                        </h1>
                    </div>
                    <div class="text-info my-5">
                        <h4>
                            : این نسخه در فاز آزمایشی قرار دارد که میتوانید آن را از طریق لینک زیر دریافت کنید
                        </h4>
                    </div>
                    <div class="btn btn-warning my-5" dir="rtl">
                        <h3>دانلود phenom v1.0</h3>
                    </div>
                </div>
            </div>
        </div>
      </body>
  
  </html>
  
  