<!doctype html>
{% load static %}
<html lang="en">
<head>


	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="{% static 'phenom_app/doc-page/assets/img/favicon.ico' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Phenom</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

      <!-- <link rel="stylesheet" href="{% static 'phenom_app/doc-page/assets/css/style.css' %}"> -->

      <link rel="stylesheet" href="{% static 'phenom_app/tech-info/assets/css/style.css' %} ">
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'phenom_app/doc-page/assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'phenom_app/doc-page/assets/css/light-bootstrap-dashboard.css?v=1.4.0' %}" rel="stylesheet"/>

    <style> 
      @font-face {
         font-family: myFirstFont;
         src: url("{% static 'phenom_app/fonts/IRANSansWeb.woff' %}");
      }
      
      * {
         font-family: myFirstFont;
      }
  </style>


</head>
<body style="background-color:#21aae1">


    
    
   
  <div class="container" style="background-color:#21aae1">  
    <form id="contact" action="" method="post" dir="rtl">
       
      
    
       
      <fieldset>
        <div style="margin-left: 10px; margin-right: 10px; font-size:30px;">
  
          <h1 style="margin-bottom:60px; text-align: center;">
            اسناد نرم افزار
          </h1>
          <p tabindex="5" required style="font-size: 20px;">
          برای هیچ کدام از توزیع های سیستم عامل لینوکس یک دستیار صوتی هوشمند به
          صورت اختصاصی ساخته نشده است
           <br>
             در حالیکه سیستم عامل های اندروید، ویندوز و مک دستیار هوشمند اختصاصی خود را دارند
            <br>
            وضعیت موجود ما را برآن داشت تا دستیار صوتی اختصاصی جدیدی برای توزیع های لینوکس ایجاد کنیم
            <br>
            
            <br>
            امکانات این اپلیکیشن :
            <br>
            فنوم می‌تواند دستورات را به صورت دریافت کند
            <br>
             فنوم‌می‌تواند‌ صوت‌ را‌ به‌ متن‌ و‌ متن‌ را‌ به‌ زبان‌ دیگری‌ ترجمه‌ یا‌ بازگردانی‌ کند‌ و‌ بخواند
             <br>
              فنوم می‌تواند کارها و وظایف مختلف روزمره ی کامپیوتر از قبیل خاموش و روشن کردن و باز و بستن یک
               برنامه را انجام دهد، و همچنین پکیج های مورد نیاز کاربر را نصب کند.
             <br>
             فنوم‌ می‌تواند‌ ورودی‌ مورد‌ نظر‌ را‌ در‌ موتور‌ جستجوی‌ تعیین‌شده‌ جستجو‌ کند‌ و‌ آب‌ و‌ هوا،‌اطلاعات
             سیستمی‌ و‌...‌ را‌ گزارش‌ دهد.
             <br>
             فنوم می‌تواند برنامه‌ریزی روزانه را دریافت و یادآوری کند و در برنامه‌ریزی روزانه کمک کند.
             
               <br>
               
               <br>
               مشتریان یا کاربران اپلیکیشن :
               <br>
               کاربران سیستم عامل لینوکس
               <br>
               معلولین
               <br>
               شرکت ها یا مراکز آموزشی
               <br>
               مشتریان اینترنت اشیا
               

          
          </p>
           
          
        </div>
        
      </fieldset>
  
  
    </form>
  </div>
  
  
  </body>


</html>
