@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  background-color: ##add8e6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
}



#contact {
  height:700px;
    background-color: #000000; 
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}



#contact form {


  width:1500px;
  height: 1500px;
  max-width: 100%;
  resize: none;
}

.logo{

margin: 100px 430px;
}


 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.button{

 background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 395px;
  cursor: pointer;
  width:350px;
  background-color: #1C39BB;
}
