{% extends 'users/user-panel/panel-base.html' %}
{% load static %}

{% block content %}


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">تنظیم رمز جدید</h4>
                            </div>
                            <div class="content">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>رمز قبلی</label>
                                                <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password"  class="form-control">
                                                <small style="color:Red;" dir="rtl">{{ form.old_password.errors }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>رمز جدید</label>
                                                <input name="new_password1" autocomplete="new-password" required id="id_new_password1" type="password"  class="form-control">
                                                <small style="color:Red;" dir="rtl">{{ form.new_password1.errors }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>تکرار رمز جدید</label>
                                                <input name="new_password2" autocomplete="new-password" required id="id_new_password2" type="password" class="form-control">
                                                <small style="color:Red;" dir="rtl">{{ form.new_password2.errors }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">تغییر رمز</button>
                                    <div class="clearfix"></div>

                                </form>
                            </div>

                           {% if messages %}
                                {% for message in messages %}
                                    <div id="alertbox" class="my-3 alert alert-success"><strong>{{ message }}</strong></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{% static 'phenom_app/dashboard/assets/img/header-img2.jpg' %}" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src="{% static 'phenom_app/dashboard/assets/img/faces/userlogo.png' %}" alt="..."/>

                                      <h4 class="title">{{ full_name }}<br />
                                         <small>{{ username }}</small>
                                      </h4>
                                    </a>
                                </div>
                                <p class="description text-center">{{ email }}</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}