{% extends 'users/user-panel/panel-base.html' %}
{% load static %}

{% block content %}

         <div class="content" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header" style="padding-bottom:25px">
                                <h4 class="title" dir = "rtl">اشتراک های در حال استفاده</h4>
                          
                            </div>
                            <div class="content table-responsive table-full-width" >
                                <table class="table table-hover table-striped" dir="rtl">
                                    <thead style="background-color: rgb(116, 128, 235);">
                                      <th class="text-right" style="color:white;">ردیف</th>
                                      <th class="text-right" style="color:white;">کد فعال سازی</th>
                                      <th class="text-right" style="color:white;">تاریخ انقضا</th>
                                  
                                    </thead>
                                      <tbody dir = "rtl">
                                          {% if not licenses %}
                                              <tr>
                                              <td>-</td>
                                              <td>-</td>
                                              <td>-</td>
                                            </tr>
                                          {% endif %}
                                          {% for lic in licenses %}
                                            <tr>
                                              <td>{{forloop.counter}}</td>
                                              <td>{{lic.license_key}}</td>
                                              <td>{{lic.expiration_date_jalali}}</td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

		
{% endblock %}
