{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'phenom_app/css/style-register.css' %}">
    <title>REGISTER</title>

    <style> 
        @font-face {
           font-family: myFirstFont;
           src: url("{% static 'phenom_app/fonts/IRANSansWeb.woff' %}");
        }
        
        * {
           font-family: myFirstFont;
        }
    </style>
    
  </head>
  <body>
    <section class="form my-4 mx-5" dir="rtl">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="{% static 'phenom_app/register/asset/img/pic.jpg' %}" alt="img" class="img-fluid">
                </div>
                <div class="col-lg-7 px-5 pt-5" id="div-padding">
                    <h2>حساب خود را ایجاد کنید</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input name="first_name" value="{{ form.first_name.value|default_if_none:"" }}" maxlength="150" autofocus required id="id_first_name" type="text" placeholder="نام و نام خانوادگی" class="form-control my-3 ">
                                <small style="color:Red;" dir="rtl">{{ form.first_name.errors }}</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <input name="username" value="{{ form.username.value|default_if_none:"" }}" maxlength="150" autofocus required id="id_username" type="text" placeholder="نام کاربری" class="form-control my-3 ">
                                <small style="color:Red;" dir="rtl">{{ form.username.errors }}</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <input name="email" value="{{ form.email.value|default_if_none:"" }}" required id="id_email" type="email" placeholder="آدرس ایمیل" class="form-control my-3 ">
                                <small style="color:Red;" dir="rtl">{{ form.email.errors }}</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <input name="password1" autocomplete="new-password" required id="id_password1" type="password" placeholder="رمز عبور" class="form-control my-3">
                                <small style="color:Red;" dir="rtl">{{ form.password1.errors }}</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <input name="password2" autocomplete="new-password" required id="id_password2" type="password" placeholder="تکرار رمز عبور" class="form-control my-3">
                                <small style="color:Red;" dir="rtl">{{ form.password2.errors }}</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                              <button type="submit" class="btn1">ثبت نام</button>
                            </div>
                        </div>
                        <p class="my-3">هم اکنون حسابی دارید؟<a href="../login">وارد شوید</a></p>

                    </form>
                </div>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div id="alertbox" class="my-3 alert alert-success"><strong>{{ message }}ا</strong></div>
                {% endfor %}
            {% endif %}

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>